:root {
  --color-background: #4CA68B;
  --color-darkerGreen: #1D3D31;
  --color-offlineRed: #FF3633;
}

body {
  background: color(var(--color-background));
}
.results {
  padding: 0;
}
.result {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  list-style: none;
  margin-bottom: 0.5rem;
}

.results li:nth-child(odd) {
  background: color(var(--color-background) blackness(40%));
}
.results li:nth-child(even) {
  background: color(var(--color-background) blackness(20%));
}

.result img {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0 1.5rem;
}


.result a {
  text-decoration: none;
}
.result h2 {
  color: var(--color-darkerGreen);
  font-size: 1.5rem;
}
.result p {
  margin-bottom: 0.7rem;
}
.item__description {
  font-size: 1.1rem;
}
.item__status-text {
  font-size: 0.9rem;
}
.item__status {
  font-weight: bold;
}
.item__status-online {
  color: green;
}
.item__status-offline {
  color: var(--color-offlineRed);
}